
<div class="content">
  <h1 class="mat-h1">Creating new test</h1>
  <div class="testform">
    <div class="example-full-width">
      <form name="form" #f="ngForm" novalidate>

        <mat-form-field class="example-full-width">
          <input name="name" [(ngModel)]="testModel.name" matInput placeholder="Name:" #name="ngModel" required minlength="8">
        </mat-form-field>
        <div *ngIf="name.invalid && name.dirty" class="invalid-feedback">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 8 characters long.
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <textarea name="content" [(ngModel)]="testModel.content" matInput #input maxlength="500" rows="10" placeholder="Description: "></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
        </mat-form-field>

        
        

        <mat-form-field class="example-full-width">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let category of selectedCategories"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(category)">
              {{category.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add Category..."
                   #catInput
                   [formControl]="categoryCtrl"
                   [matAutocomplete]="auto"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
            <div class="invalid-feedback">
              <div *ngIf="selectedCategories.length == 0 && submitted">
                Category is Required!
              </div>
            </div>
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
              {{category.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div style="text-align:right; padding: 20px ">
          <ng-container *ngIf="f.form.valid && selectedCategories.length > 0; then isValid else isNotValid">
          </ng-container>

          <ng-template #isValid>
            <button (click)="addTest()" mat-raised-button color="primary">Add Test</button>
          </ng-template>

          <ng-template #isNotValid>
            <button (click)="setSubmitted()" mat-raised-button color="primary">Add Test</button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>

</div>
