.sidenav-container {
  height: 100%;
  width: 100%;
  background: rgba(66,66,66, 0.99)
  
}

.sidenav {
  
  width: 150px;
  box-shadow: 3px 0 6px rgba(29, 28, 28, 0.678);
  
}

.fixed-toolbar {
  width: 100%;
  position: fixed;
  z-index: 3;
  
}
.main-div
{
  margin: 0 auto;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  float: right;
    margin: 0px 0 0% 780px;
    padding: 10px 30px 11px 30px;
    align-items: right;
}