
<mat-sidenav-container class="sidenav-container">
   
  <mat-sidenav *ngIf="nav.visible"
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    
    <mat-toolbar color="">Menu</mat-toolbar>
    
    
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/users">Users</a>
      <a mat-list-item routerLink="/tests">Tests</a>
      <a mat-list-item routerLink="/questions">Questions</a>
      <a mat-list-item routerLink="/category">Categories</a>
    </mat-nav-list>
  
  </mat-sidenav>


  <mat-sidenav-content>
       
    <mat-toolbar color="" class="fixed-toolbar mat-elevation-z2">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span ><img class="main-div" src="./../assets/img/logo.png"alt="logo"></span>
      <span><button class="login" mat-button>Logout!</button></span>
    </mat-toolbar>
  
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
