<div class="container">
  {{testModel|json}}
  <div class="center">
    <!-- {{testModel|json}}
    {{openQuestion|json}}
    {{closedQuestion|json}} -->

    <h2> Generate New Test</h2>
  </div><hr>
<!-- Name -->
  <form name="form" #f="ngForm" novalidate>
    <div>
        <mat-form-field class="example-full-width">
            <input name="name" [(ngModel)]="testModel.name" matInput placeholder="Name:" #name="ngModel" required minlength="8">
          </mat-form-field>
          <div *ngIf="name.invalid && name.dirty" class="invalid-feedback">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 8 characters long.
            </div>
          </div>
    </div>  
<!-- Closed Question -->
<div>
  <mat-form-field class="form-item">
    <input class="form-item" matInput name="closedQuestion" placeholder="Closed question" [(ngModel)]="testModel.closedQuestion"
    type="number" #closedQuestion="ngModel" required min="0" oninput="validity.valid || (value='');">
  </mat-form-field>
  <div *ngIf="closedQuestion.invalid && closedQuestion.dirty" class="invalid-feedback">
    <div *ngIf="closedQuestion.errors.required">
      Closed question is required.
    </div>
    <div *ngIf="closedQuestion.errors.min">
      Closed question must be completed.
    </div>
  </div>
</div>
<!-- Open Question -->
<div>
  <mat-form-field class="form-item">
    <input class="form-item" matInput name="openQuestion" placeholder="Open question" [(ngModel)]="testModel.openQuestion"
type="number" #openQuestion="ngModel" required min="0" oninput="validity.valid || (value='');">
  </mat-form-field>
  <div *ngIf="openQuestion.invalid && openQuestion.dirty" class="invalid-feedback">
    <div *ngIf="openQuestion.errors.required">
      Open question is required.
    </div>
  </div>
</div>
<!-- Time -->
<div>
  <mat-form-field class="form-item">
    <input class="form-item" matInput name="Time" placeholder="Time" [(ngModel)]="testModel.time"
    type="number" #Time="ngModel" required min="0" oninput="validity.valid || (value='');">
  </mat-form-field>
  <div *ngIf="Time.invalid && Time.dirty" class="invalid-feedback">
    <div *ngIf="Time.errors.required">
      Time is required.
    </div>
    <div *ngIf="Time.errors.min">
      Time must be completed.
    </div>
  </div>
</div>
<!-- select categories -->
<mat-form-field class="example-full-width">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let category of selectedCategories"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(category)">
      {{category.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Add Category..."
           #catInput
           [formControl]="categoryCtrl"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
   <div class="invalid-feedback">
     <div *ngIf="selectedCategories.length == 0 && submitted" >
       Category is Required!
     </div>
   </div>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
      {{category.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<div style="text-align:right; padding: 20px ">
  <ng-container *ngIf="f.form.valid && selectedCategories.length > 0; then isValid else isNotValid">
  </ng-container>

  <ng-template #isValid>
    <button class ="button" (click)="addTest()" mat-raised-button>Generate Test</button>
  </ng-template>

  <ng-template #isNotValid>
    <button class ="button" (click)="setSubmitted()" mat-raised-button>Generate Test</button>
  </ng-template>
</div></form></div>